<section class="card mt-4">

	<div class="card-body">

		<h1>Sobre la app</h1>
		<p>
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere placeat reiciendis officia quidem molestiae
			totam reprehenderit quis alias quia tenetur!
		</p>
	</div>
</section>