<div class="jumbotron mt-4">

	<h1 class="display-6" style="text-align:center" te> Aplicacion CRUD login con Nodejs, Express y mongodb!</h1>

	<hr class="my-4">

	<p class="lead" style="text-align: justify;">
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis dolores amet, itaque voluptas officiis sapiente
		ut,
		quam exercitationem suscipit nihil saepe. Odio atque voluptatum, sequi expedita fugit eaque asperiores tempore!
		Cumque magnam animi quam necessitatibus illo iusto, eaque optio dolores odit excepturi distinctio praesentium
		minus quibusdam porro aut, dignissimos, repellendus ipsum quas asperiores provident nam qui! Amet maiores
		laudantium at?
		Tempora ab optio, sapiente excepturi magni quod tempore nulla necessitatibus sed dicta laudantium hic iure
		voluptate commodi fuga error repellat! Fugiat laborum et nihil iure voluptatibus at iste, debitis alias.
	</p>

	<a href="https://github.com/DanloisTovar" target="_blank" class="btn btn-primary">Mi Github</a>



</div>