<div class="row">
	<div class="col-md-4 mx-auto">
		<div class="card">
			<div class="card-header" align="center">
				<h3>Iniciar Sesion</h3>
			</div>
			<img src="/img/pngocean.com (3).png" alt="imagen-usuario"
				class="img-responsive rounded-circle mx-auto d-block m-4 logo">
			<div class="card-body">
				<form action="/usuarios/iniciar-sesion" method="POST">

					<div class="form-group">
						<input type="email" class="form-control" name="email" placeholder="Ingrese su Email">
					</div>

					<div class="form-group">
						<input type="password" class="form-control" name="password" placeholder="Ingrese su Password">
					</div>



					<button class="btn btn-primary btn-block">
						Iniciar Sesion
					</button>

				</form>
			</div>
		</div>
	</div>
</div>